p {
      font-family: Arial;
    }
h1 {
  color: maroon;
  	}
.title {color: teal;}

.uppercase{text-transform: uppercase;}

#article-title {
  font-family: cursive;
  text-transform: capitalize;
}
.publish-time {color: gray;}

/*Learned the difference between classes & IDs. IDs override classes but IDs are meant to change only 1 element */
